<aside>
    <h1><a href="http://cs.nyu.edu/~joannakl/" target="_blank">
        Joanna Klukowska</a></h1>
    <p>Clinical Assistant Professor</p>
   
    <p><b>Email address</b><br>
        <script LANGUAGE="JavaScript" type="text/javascript"> 
        document.write(email_joanna_nyu() ); </script>  </p>
       
    <p><b>Office hours (423 CIWW)</b><br>
       {{ site.instructor_office_hours }}
       
       
    <p><b>Current courses</b><br>
        <a href="{{ site.current_course1_link }}" target="_blank">{{ site.current_course1_title }}</a> <br>
        <a href="{{ site.current_course2_link }}" target="_blank">{{ site.current_course2_title }}</a> <br>
        <a href="{{ site.current_course3_link }}" target="_blank">{{ site.current_course3_title }}</a> <br>
    </p>
    <br>
    <br>
    
    
    <a class="twitter-timeline" data-dnt="true" height="300"  href="https://twitter.com/joannakl_nyu"  data-widget-id="424954772072828928">
        Tweets by @joannakl_nyu</a>
        
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>


